<div class="container">
  <ngb-accordion #acc="ngbAccordion">
    <div class="row">
      <div class="col-sm-6">
        <ngb-panel id="toggle-1" title="
        Can You Do Real
        Photography With iPhone?">
          <ng-template ngbPanelContent>
            <pre>
One of the common iPhone photography misconceptions is that the iPhone can’t be used for serious photography. While DSLR cameras are technically superior,
  the quality of a photo mostly depends on the photographer’s intent and creative vision.

As photographers we often get caught up buying the latest photo gear thinking that it will help us take better photos,
  while no camera can take a good photo without the photographer’s ideas.

That’s because your iPhone – just like any other camera – is a tool.
  And it’s a tool that can be used to take both poor and outstanding photos.

But with the right knowledge and the right techniques you can use your iPhone
  to take photos that are so great that nobody would even believe they were taken with the iPhone!

So this site was created to help you, the photographer, take better photos with your iPhone
  than most people can take with a DSLR.
            </pre>
          </ng-template>
        </ngb-panel>
      </div>
      <div class="col-sm-6">
        <ngb-panel id="toggle-2" title="Getting Started
        iPhone Camera
        Taking Photos
        Photo Editing
        Creativity">
          <ng-template ngbPanelContent>

If you’d like to take incredible photos with the only camera that you have in your pocket at all times…
If bulky photography gear and complex photo editing software are standing in the way of your creativity…
If you love taking photos with your iPhone but can’t figure out how to capture anything more than simple snapshots…
          </ng-template>
        </ngb-panel>
      </div>
    </div>
  </ngb-accordion>
</div>


<hr />
